* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;

    --my-teal: rgb(0, 94, 94);
    --dark-teal: rgb(0, 71, 71);
    --button-green: rgb(0, 67, 47);
    --dark-button-green: rgb(0, 45, 31);
    --muted-blue: rgb(47, 81, 120);
}

:root {
    background-color: var(--my-teal);
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--my-teal);
    color: white;
    padding: 8px 24px;
}

#navbar > nav {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

#navbar > nav > a {
    text-decoration: none;
    color: white;
}

#navbar > nav > a::after {
    text-decoration: none;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
}

.logo > p {
    font-weight: normal;
    font-style: italic;
    font-size: 24px;
    margin-left: 8px;
}

#searchbar {
    background-color: white;
    border-radius: 16px;
    padding: 4px 12px;
    width: 400px;
    display: flex;
    justify-content: space-between;
}

#searchbar > input {
    border: none;
    font-size: 0.75rem;
    width: 250px;
}

#searchbar > input:focus-visible {
    outline: none;
}

.searchbutton {
    background-color: var(--my-teal);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 12px;
    margin-right: 4px;
    font-size: 0.75rem;
    cursor: pointer;
}

.searchbutton:hover {
    background-color: var(--dark-teal);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 12px;
    margin-right: 4px;
    font-size: 0.75rem;
    cursor: pointer;
}

main {
    color: white;
    background-image: url('./images/brazil.jpg');
    background-size: 100vw 100vh;
    background-repeat: repeat-y;
    width: 100vw;
    height: 100vh;
    padding: 0px 20px;

    display: flex;
    align-items: center;
}

#social-icons {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.main-div {
    margin-left: 48px;
}

#main-content, #about-content {
    width: 80vw;
}

#contact-content {
    margin-left: 48px;
    width: 45vw;
}

#main-content > h1, #about-content > h1, #contact-content > h1 {
    font-size: 72px;
    font-weight: bold;
    margin-bottom: 32px;
}

#main-content > p, #about-content > p, #contact-content > p { 
    line-height: 1.25rem; 
}

#main-content > p { 
    margin-bottom: 20px; 
}

#about-content > p { 
    margin-bottom: 8px; 
}

#main-content > button {
    border: none;
    color: white;
    background-color: var(--button-green);
    cursor: pointer;
    padding: 12px 18px;
    font-size: 1.2rem;
}

#main-content > button:hover {
    background-color: var(--dark-button-green);
}

#our-team {
    display: flex;
    align-items: center;
    margin-top: 48px;
}

#our-team > h2 {
    font-size: 64px;
}

.team-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 12px;
}

.team-container > h3 {
    font-size: 1.4rem;
}

.title {
    background-color: var(--muted-blue);
    border-radius: 16px;
    padding: 8px 20px;
}

form {
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin-right: 10vw;
    gap: 12px;
}

form > input, form > textarea {
    background-color: transparent;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 12px;
    color: white;
    padding: 8px;
}

form > input:focus, form > textarea:focus {
    outline: none;
}

form > button {
    border-radius: 8px;
    color: white;
    background-color: var(--my-teal);
    border: none;
    padding: 12px 0;
}

form > button:hover {
    background-color: var(--dark-teal);
}

.results-header {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: white;
}

.results-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-column: 1fr / 1fr;
}

.entry-container {
    background-color: white;
    color: black;
    text-align: center;
    margin: 16px;
    padding: 24px 8px;
    border-radius: 8px;
}

.entry-container > h3 {
    font-size: 1.15rem;
    padding: 4px 0;
}

.entry-container > p {
    font-size: 0.9rem;
}

.entry-container > img {
    width: 250px;
    height: 150px;
    border-radius: 8px;
}

.search {
    align-self: flex-start;
    margin-top: 48px;
}

.contact-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}